<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kết quả e êiiii</title>
</head>
<body>
    <h1 id="question"></h1>
    <h3 id="totalvote"></h3>
    <p id="percentYes"></p>
    <p id="percentNo"></p>
    <button type="submit" id="newques"></button>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/totalvoteQues.js"></script>
</body>
</html>